<!DOCTYPE html>
{% extends "core/base.html" %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
    {% endblock %}
    <title>Oliveira e Rondelli - Produtos</title>
</head>
<body>
    {% block content %}
    <div class="container-formulario">
    <form class="formulario" action="{% url 'alterar_produto' produto.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="container-botao">
            <a href="{% url 'produto' produto.id %}"><button class="botao-voltar">Voltar</button></a>
            <button class="botao-salvar" name="submit">Salvar</button>
        </div>
        </form>
    </div>
    {% endblock content %}
</body>
</html>