<!DOCTYPE html>
{% extends "core/base.html" %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
    {% endblock %}
    <title>Oliveira e Rondelli - Produtos</title>
</head>
<body>
    {% block content %}
    <h1>Produtos</h1>
    <div class="container-formulario">
        <form method="get" action="{% url 'produtos' %}" class="formulario">
            <p>
                <label>Buscar Produto:</label>
                <input type="text" name="search" placeholder="Digite o nome do produto..." value="{{ request.GET.search }}">
            </p>
            <div class="container-botao">
                <button type="submit" class="botao-pesquisar">Pesquisar</button>
                <a href="{% url 'produtos' %}" class="botao-voltar">Limpar</a>
            </div>
        </form>
    </div>
    <div class="container-produtos">
        {% if not request.GET.search %}
            <p id="primeiros-quantidade">Os 5 produtos com as maiores quantidades em estoque:</p>
        {% endif %}
        <ul class="lista_produtos">
            {% for produto in produtos %}
                <a href="{% url 'produto' produto.id %}"><li>{{ produto }}</li></a>
            {% empty %}
                <li>Não existe produto cadastrado.</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="container-botao">
        <a href="{% url 'novo_produto' %}"><button class="botao-novo-produto">Novo Produto</button></a>
    </div>
    {% endblock content %}
</body>
</html>