<!DOCTYPE html>
{% extends "core/base.html" %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
    {% endblock %}
    <title>Oliveira e Rondelli - Produtos</title>
</head>
<body>
    {% block content %}
    <h1>Adicione um novo Produto</h1>
    <div class="container-formulario">
        <form action="{% url 'novo_produto' %}" method="post" class="formulario">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container-botao">
                <a href="{% url 'produtos' %}" class="botao-voltar">Voltar</a>
                <button class="botao-salvar" name="submit">Adicionar</button>
            </div>
        </form>
    </div>
    {% endblock content %}
</body>
</html>