<!DOCTYPE html>
{% extends "core/base.html" %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
    {% endblock %}
    <title>Oliveira e Rondelli - Produtos</title>
</head>
<body>
    {% block content %}
        <h1>{{ produto.pro_descricao }}</h1>
        <div class="dados-produto">
            <div class="info-produto">
                <span class="info-label">Referência:</span>
                <span>{{ produto.pro_referencia }}</span>
            </div>
            <div class="info-produto">
                <span class="info-label">Unidade de Medida:</span>
                <span>{{ produto.pro_unidade }}</span>
            </div>
            <div class="info-produto">
                <span class="info-label">Custo Médio:</span>
                <span>R$ {{ produto.custo_medio|floatformat:2 }}</span>
            </div>
            <div class="info-produto">
                <span class="info-label">Quantidade em Estoque:</span>
                <span>{{ produto.pro_saldo }}</span>
            </div>
        </div>
        <div class="container-botao">
            <a href="{% url 'alterar_produto' produto.id %}"><button class="botao-alterar-produto">Alterar Produto</button></a>
            <a href="{% url 'produtos' %}"><button class="botao-alterar-produto">Voltar</button></a>
        </div>
    {% endblock content %}
</body>
</html>