<!DOCTYPE html>
{% extends "core/base.html" %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque Oliveira e Rondelli</title>
</head>
<body>
    {% block content %}
    <h1>Unidades</h1>
    <ul>
        {% for unidade in unidades %}
            <li>{{ unidade }} - <b>{{ unidade.uni_sigla }}</b></li>
        {% empty %}
            <li>Não existe produto cadastrado.</li>
        {% endfor %}
    </ul>

    <p>Para cadastrar uma nova unidade, clique <a href="{% url 'nova_unidade' %}">aqui</a>.</p>
    {% endblock content %}
</body>
</html>