<!DOCTYPE html>
{% extends "core/base.html" %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
    {% endblock %}
    <title>Estoque Oliveira e Rondelli</title>
</head>
<body>
    {% block content %}
    <h1>Unidades</h1>
    <ul>
        {% for unidade in unidades %}
            <li>{{ unidade }} - <b>{{ unidade.uni_sigla }}</b></li>
        {% empty %}
            <li>Não existe produto cadastrado.</li>
        {% endfor %}
    </ul>
    <div>
        <button><a href="{% url 'nova_unidade' %}">Nova Unidade</a></button>
    </div>
    {% endblock content %}
</body>
</html>