<!DOCTYPE html>
{% extends "core/base.html" %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/produtos.css' %}">
    {% endblock %}
    <title>Estoque Oliveira e Rondelli</title>
</head>
<body>
    {% block content %}
    <p>Adicione uma nova unidade:</p>
    <div class="container-botao">
        <a href="{% url 'unidades' %}"><button class="botao-voltar">Voltar</button></a>
    </div>
    <form action="{% url 'nova_unidade' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="container-botao">
            <button class="botao-salvar" name="submit">Adicionar</button>
        </div>
    </form>
    {% endblock content %}
</body>
</html>