h1 {
    text-align: center;
    color: rgba(56, 66, 82);
}

/*Lista dos Produtos*/
.lista_produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    list-style: none;
}

/*Produtos*/
.lista_produtos a {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-decoration: none;
}

/*Efeito ao passar o mouse no Produto*/
.lista_produtos a:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/*Estlo do Link*/
.lista_produtos li{
    text-decoration: none;
    color: rgba(56, 66, 82);
    font-weight: bold;
    font-size: 1.1rem;
}

/*Dados de um Produto*/
.dados-produto {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 30px;
    max-width: 500px;
    margin: 40px auto; /* Centraliza o card na página */
    border-top: 5px solid rgba(56, 66, 82); /* Faixa na cor da sua marca */
}

/*Produto*/
.info-produto {
    display: flex;
    justify-content: space-between; /* Alinha rótulo na esquerda e valor na direita */
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0;
}

/*Label do Produto*/
.info-label {
    font-weight: bold;
    color: #666;
}

/*Lista das Unidades*/
.lista_unidades {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    list-style: none;
}

/*Unidades*/
.lista_unidades li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-decoration: none;
    color: rgba(56, 66, 82);
    font-weight: bold;
    font-size: 1.1rem;
}

/*Efeito ao passar o mouse no Produto*/
.lista_unidades li:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/*Container do Botão*/
.container-botao {
    text-align: center;
    margin: 30px 0;
    width: 100%;
}

/*Botões*/
.botao-novo-produto,
.botao-alterar-produto,
.botao-voltar,
.botao-salvar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    min-width: 150px;
    padding: 0 20px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(56, 66, 82);
    background-color: #f8f9fa;
    border: 2px solid rgba(56, 66, 82);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    box-sizing: border-box;
}

/*Efeito ao passar o mouse nos Botões*/
.botao-novo-produto:hover,
.botao-alterar-produto:hover,
.botao-voltar:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}