<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <title>Oliveira e Rondelli</title>
</head>
<body>
    <header>
        <nav class="menu">
            <div class="nav-container">
                <div class="user-auth">
                </div>
            </div>
        </nav>
    </header>
        {% block content %}
        {% endblock content %}
</body>
</html>