<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="shortcut icon" href="{% static 'imagens/favicon.ico' %}">
    {% block produto_css %}{% endblock %}
    <title>Oliveira e Rondelli</title>
</head>
<body>
    <header>
        <nav class="menu">
            <div class="nav-container">
                <ul class="nav-list">
                    <li ><a href="{% url 'index' %}"><img id="logo" src="{% static 'imagens/logo.png' %}" alt="Logo Oliveira e Rondelli"></a></li>
                    <li><a href="{% url 'produtos' %}">Produtos</a></li>
                    <li><a href="{% url 'unidades' %}">Unidades</a></li>
                    <li><a href="{% url 'movimentacoes' %}">Movimentações</a></li>
                    <li><a href="{% url 'relatorios' %}">Relatórios</a></li>
                </ul>
                <div class="user-auth">
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <a href="{% url 'usuarios' %}">Usuários</a>
                        {% endif %}
                        <a href="{% url 'logout' %}">Sair</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}

        {% endblock content %}
    </main>
    <footer>
        <p>Aplicação desenvolvida por <b>Kauê Fernandes</b>.</p>
    </footer>
</body>
</html>