<!DOCTYPE html>
{% extends "core/base.html" %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oliveira e Rondelli</title>
</head>
<body>
    {% block content %}
    <h1>Bem vindo!</h1>
    <p>Este projeto é uma aplicação web completa desenvolvida para o escritório Oliveira & Rondelli Advocacia.</p>
    <p>O sistema consiste numa aplicação de estoque para registrar as movimentações de entrada e saída dos produtos, bem como o cadastro de produtos. Além disso, conta com uma autenticação apra registro e auditorias. O sistema foi construído utilizando o framework Django.</p>
    {% endblock content %}
</body>
</html>