<!DOCTYPE html>
{% extends "core/base.html" %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/manuais.css' %}">
    {% endblock %}
    <title>Oliveira e Rondelli</title>
</head>
<body>
    {% block content %}
    <div class="container-manual">
        <div class="header-manual">
            <div class="container-botao">
                <a href="{% url 'index' %}" class="botao-voltar">Voltar</a>
            </div>
            <h1>Produtos</h1>
            <p>Busca, cadastro e alteração de produtos no catálogo de materiais do escritório.</p>
        </div>
        <div class="passo">
            <div class="numero-passo">01</div>
            <div class="conteudo">
                <h3>Listagem e Busca</h3>
                <p>A tela principal de produtos permite visualizar o que está cadastrado no sistema.</p>
                <ul>
                    <li><strong>Filtro Automático: </strong>Por padrão, o sistema exibe os 5 itens com maior estoque.</li>
                    <li><strong>Busca: </strong>Digite o nome do produto no campo de pesquisa para filtrar itens específicos.</li>
                </ul>
            </div>
        </div>
        <div class="passo">
            <div class="numero-passo">02</div>
            <div class="conteudo">
                <h3>Cadastro de Produtos</h3>
                <p>Utilize essa função para registrar novos itens no sistema.</p>
                <p><strong>Dica: </strong>Antes de cadastrar, verifique se o item já não está cadastrado para evitar duplicidade.</p>
                <p>Clique em <strong>Novo Produto</strong>, preencha o formulário e clique em Salvar.</p>
            </div>
        </div>
        <div class="passo">
            <div class="numero-passo">03</div>
            <div class="conteudo">
                <h3>Alteração e Detalhes</h3>
                <p>Para editar um produto, visualize os detalhes clicando sobre o nome dele na lista e, em seguida, clique em <strong>Alterar Produto</strong>.</p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>