<!DOCTYPE html>
{% extends "core/base.html" %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/manuais.css' %}">
    {% endblock %}
    <title>Oliveira e Rondelli</title>
</head>
<body>
    {% block content %}
    <div class="container-manual">
        <div class="header-manual">
            <div class="container-botao">
                <a href="{% url 'index' %}" class="botao-voltar">Voltar</a>
            </div>
            <h1>Unidades</h1>
            <p>Gerencie os padrões de unidades de medida dos produtos do sistema.</p>
            <p><strong>Apenas para usuários Administradores!</strong></p>
        </div>
        <div class="passo">
            <div class="numero-passo">01</div>
            <div class="conteudo">
                <h3>Listagem</h3>
                <p>A tela principal de unidades permite visualizar o que está cadastrado no sistema.</p>
            </div>
        </div>
        <div class="passo">
            <div class="numero-passo">02</div>
            <div class="conteudo">
                <h3>Cadastrar Nova Unidade</h3>
                <p>Utilize essa função para cadastrar uma nova unidade.</p>
                <p>Clique em <strong>Nova Unidade</strong>, preencha o formulário e clique em salvar.</p>
                <p>Ao cadastrar uma nova unidade, ela ficará disponível para seleção na tela de <strong>cadastro/alteração de produtos</strong>.</p>
            </div>
        </div>
        <div class="passo">
            <div class="numero-passo">03</div>
            <div class="conteudo">
                <h3>Editar uma Unidade</h3>
                <p>Essa função é realizada através do <strong>Painel Administrativo</strong>.</p>
                <p>Para acessá-lo, adicione <strong>"/admin"</strong> ao final do endereço do sistema no seu navegador.</p>
                <p>Selecione <strong>Unidades</strong> e clique sobre a unidade desejada para realizar alterações.</p>
                <strong>Atenção:</strong> Alterar ou excluir unidades pode afetar o histórico de produtos vinculados. Use com cautela.
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>