<!DOCTYPE html>
{% extends "core/base.html" %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/manuais.css' %}">
    {% endblock %}
    <title>Oliveira e Rondelli</title>
</head>
<body>
    {% block content %}
    <div class="container-manual">
        <div class="header-manual">
            <div class="container-botao">
                <a href="{% url 'index' %}" class="botao-voltar">Voltar</a>
            </div>
            <h1>Usuários</h1>
            <p>Gerencie os usuários e níveis de acesso.</p>
            <p><strong>Apenas para usuários Administradores!</strong></p>
        </div>
        <div class="passo">
            <div class="numero-passo">01</div>
            <div class="conteudo">
                <h3>Listagem</h3>
                <p>A tela principal de usuários retorna todos os usuários cadastrados no sistema.</p>
                <p>Essa tela mostra se o usuário está <strong>ativo ou inativo</strong> e se é <strong>administrador ou não</strong>.</p>
            </div>
        </div>
        <div class="passo">
            <div class="numero-passo">02</div>
            <div class="conteudo">
                <h3>Registro de Novos Colaboradores</h3>
                <p>Clique no botão <strong>Cadastrar Usuário</strong> para adicionar um novo usuário.</p>
                <p>Defina um <strong>username</strong>único. O sistema registrará automaticamente quem criou o usuário para fins de auditoria.</p>
            </div>
        </div>
        <div class="passo">
            <div class="numero-passo">03</div>
            <div class="conteudo">
                <h3>Níveis de Permissão (Admin)</h3>
                <p>Ao marcar um usuário como <strong>Administrador</strong>, ele passará a ter acesso aos seguintes módulos:</p>
                <ul>
                    <li>Cadastro/alteração de unidades;</li>
                    <li>Gerenciamento de usuários;</li>
                    <li>Painel administrativo.</li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>