* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.menu {
    background-color: rgb(37, 37, 39);
    width: 100%;
}

.menu li {
    display: inline;
}

.nav-container {
    width: 100%;
    padding: 0, 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li a,
.user-auth a {
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.nav-list li a:hover,
.user-auth a:hover {
    background-color: rgb(24, 139, 233);
    transition: background-color 0.3s;
}

.user-auth {
    cursor: default;
}

.container {
    padding: 20px;
    min-height: 80vh;
}

footer {
    text-align: center;
    background-color: rgba(187, 187, 187, 0.247);
    padding: 20px;
    margin-top: 20px;
}