<!DOCTYPE html>
{% extends "core/base.html" %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque Oliveira e Rondelli</title>
</head>
<body>
    {% block content %}
    <h1>Movimentações</h1>
    <div>
        <button><a href="{% url 'nova_entrada' %}">Nova Entrada</a></button>
        <button><a href="{% url 'nova_saida' %}">Nova Saída</a></button>
    </div>
    <form method="get">
        {{ filtro.form.as_p }}
        <button type="submit">Pesquisar</button>
        <button><a href="{% url 'movimentacoes' %}">Limpar Filtros</a></button>
    </form>
    <ul>
        {% for movimentacao in movimentacoes %}
            <li>Produto: {{ movimentacao.mov_produto }}</li>
            <p>Tipo de Operação: {{ movimentacao.mov_tipo }}</p>
            <p>Quantidade: {{ movimentacao.mov_quantidade }}</p>
            <p>Valor: {{ movimentacao.mov_custo }}</p>
            <p>Saldo após movimentação: {{ movimentacao.mov_saldo_movimento }}</p>
            <p>Movimentação feita em {{ movimentacao.mov_data_adicionada|date:"d/m/Y H:i" }}</p>
            <br>
        {% empty %}
            <li>Não existe movimentação feita.</li>
        {% endfor %}
    </ul>
    {% endblock content %}
</body>
</html>