<!DOCTYPE html>
{% extends "core/base.html" %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque Oliveira e Rondelli</title>
</head>
<body>
    {% block content %}
    <h1>Realizar Movimentações</h1>
    <br>
    <p>Selecione qual movimentação será feita:</p>
    <br>
    <div>
        <button><a href="{% url 'nova_entrada' %}">Nova Entrada</a></button>
        <button><a href="{% url 'nova_saida' %}">Nova Saída</a></button>
    </div>
    </ul>
    {% endblock content %}
</body>
</html>