<!DOCTYPE html>
{% extends "core/base.html" %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/usuarios.css' %}">
    {% endblock %}
    <title>Oliveira e Rondelli - Usuários</title>
</head>
<body>
    {% block content %}
    <div class="container-formulario">
            <form class="formulario" method="post">
                {% csrf_token %}
                <p>Digite a nova senha para: <strong>{{ usuario.username }}</strong></p>
                {{ form.as_p }}
                <div class="container-botao">
                    <a href="{% url 'usuario' usuario.id %}" class="botao-voltar">Voltar</a>
                    <button class="botao-salvar" type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
    {% endblock content %}
</body>
</html>